*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}

.calender {
display: grid;
grid-template-areas: "empty   planes" "time-contents";
grid-template-columns: 120px;
grid-template-rows: 60px;
width: 95vw;
height: 95vh;
margin: 0 auto;
box-shadow:0 2px 20px black;
}

.empty {
    display: grid;
    grid-area: empty;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.planes{
grid-area: planes;
display: grid;
grid-template-columns: repeat(7, 1fr);
text-transform: uppercase;
font-size: 12px;
background-color: white;
border-bottom: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.planes > div {
    display: grid;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

.times {
grid-area: time;
display: grid;
grid-template-rows: repeat(24, 1fr);
font-size: 14px;
background-color: white;
border-left: 1px solid black;
}

.times > div{
display: grid;
align-items: center;
justify-content: center;
border-bottom: 1px solid black;
}

.content {
grid-area: contents;
display: grid;
grid-template-rows: repeat(15, 1fr);
grid-template-columns: repeat(7, 1fr);
border-right: 1px solid black;
grid-auto-flow: column;
}

.content > div{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

/* .content > div:nth-child(even){
    background-color: white;
} */